* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  display: grid;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 60px 1px 60px auto;
  grid-template-columns: 1fr;
  height: 100vh;
  width: max(800px, 80vw);
  text-align: center;
  justify-content: center;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#header-left {
  display: flex;
  align-items: center;
  grid-column: 1 / 2;
  font-weight: 800;
  font-size: 24px;
}

#header-middle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 2 / 3;
}


#header-middle button {
  background: none;
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  width: 80px;
  height: 32px;
}

#header-right {
  display: flex;
  align-items: center;
  grid-column: 3 / 4;
}

#header-left img {
  width: 30px;
}

#header-right img {
  width: 30px;
}

#search-box {
  height: 22px;
  border-radius: 25px;
  padding: 4px 12px;
}

.long-divider {
  height: 1px;
  background-color: #dadbe4;
}

.content {
  padding: 10px;
  text-align: left;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
}

#newBookBtn {
  height: 40px;
  border-radius: 10px;
  padding: 4px 12px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

#newBookDialog {
  position: absolute;
  margin: 70px 30%;
  width: 300px;
  height: 400px;
  padding: 30px;
  border-radius: 8px;
}

#ruSureDialog {
  position: absolute;
  margin: 70px 30%;
  width: 300px;
  padding: 30px;
  border-radius: 8px;
}

#ruSureDialog button {
  width: 80px;
  height: 30px;
  border-radius: 6px;
  font-size: 14px;
  margin: 6px;
}

dialog input {
  font-size: 14px;
  border-radius: 6px;
  padding: 4px;
}

dialog select {
  font-size: 14px;
  border-radius: 6px;
  padding: 4px;
}


#diagTitle {
  font-size: 20px;
}

#dialogBtns button {
  width: 80px;
  height: 30px;
  border-radius: 6px;
  font-size: 14px;
  margin: 6px;
}

table {
  width: 100%;
}

table button {
  margin: 0px 10px;
  border-color: #cd7f32;
  color: #cd7f32;
  border-radius: 6px;
  padding: 2px;
  background-color: transparent;
  border-style: solid; 
  border-width: 1px;
}

td {
  border-top: 1px solid #dadbe4;
  /*white-space: nowrap;*/
  height: 50px;
}

th {
  height: 50px;
}